.payed-for-card-container {
	width: 244px;
	display: block;
	margin: 10px;
}

.payed-for-card {
	width: 100%;
}

/* MEDIA Q */
@media only screen and (max-width: 1600px) {
	.payed-for-card-container {
		width: 200px;
	}
}

@media only screen and (max-width: 970px) {

}

@media only screen and (max-width: 550px) {
	.payed-for-card-container {
		width: 141px;
	}
}

@media only screen and (max-width: 359px) {
	.payed-for-card-container {
		width: 100%;
	}
}
