.tagline {
    width: 100%;
    padding: 0 5px;
    margin-top: 20px;
    font-size: 12px;
	font-weight: 300;
	color: #888888;
	font-style: italic;
}

.land-container {
	width: 100%;
    flex-wrap: wrap;
    justify-content: flex-start;
}

/* MEDIA Q */
@media only screen and (max-width: 1600px) {
	.tagline {
		margin-top: 10px;
	}
}

@media only screen and (max-width: 970px) {

}

@media only screen and (max-width: 550px) {

}
