.basic-icon {
	width: 25px;
	box-shadow: 0 0 10px #000;
	border-radius: 50%;
}

.land-button,
.land-button:focus,
.land-button:active {
	position: relative;
    width: calc(20% - 10px);
    margin: 10px 5px 0 5px;
    border-radius: 3px;
    border: none;
    text-align: center;
	font-weight: 700;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0,.10);
	outline: none;

    font-size: 12px;
    line-height: 1.2;
    height: 50px; 
    color: #fff;
    text-shadow: 1px 1px 1px #000, 1px 1px 3px #535353, -1px -1px 1px #353535;
    
    background-repeat: no-repeat;
    background-size: 130%;
	background-position: 50% 20%;
	
	transition: 0.2s ease;
	cursor: pointer !important;
}

.land-button:hover {
	transform: translate(0, -2px);
}