/* Stylesheet for "Play Aroud Me" */

:root {
    --fullWidth: 550px;
}

.clearfix::after { 
    content: "";
    display:block; 
    clear:both; 
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

@font-face {
    font-family: mana;
    src: url(../fonts/manaMAN.ttf);
}

body {
    background-color: rgb(213, 213, 213);
    font-family: sans-serif;
}

.bottomLine {
    padding: 5px 0px 0px 0px;
    font-size: 11px;
    padding-left: 7px;
    font-style: italic;
    color: grey;
    font-weight: bold;

}

.buttonLabels {
    padding-left: 10px;
    font-size: 10px;
    font-style: italic;
    padding: 4px;
    position: relative;
    top: 8px;
}

button {
    padding: 0;
    cursor: default;
    border-width: 0px;
    border-image: none;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
}

/* Main CSS */

header {
    width: 100%;
    height: 54px;
    background-color: rgb(16, 16, 16);
}

#calculator {
    width: 510px;
    background-color: rgb(55, 55, 55);
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 30px;
}

#calculatorName {
    font-size: 18px;
    margin: 0 auto;
    margin-top: 10px;
    width: 436px;
}

.calcutron {
    color: orangered;
    text-shadow: 1px 1px rgb(255, 5, 5);
}

.setName {
    color: black;
}

#header-container {
    height: inherit;
    width: var(--fullWidth);
    margin: 0 auto;
}

#logo-container {
    height: inherit;
    width: 54px;
    float: left;
    background-color: lightpink;
}

#menu-container {
    height: inherit;
    float: right;
    font-size: 14px;
    line-height: 50px;
    color: white;
    text-align: right;
}

#main-container {
    width: var(--fullWidth);
    margin: 0 auto;
    margin-top: 30px;
}

#set-title {
    text-align: center;
    font-size: 28px;
}

#top-bar {
    height: 20px;
    width: inherit;
    background-color: darkgrey;
    margin-top: 5px;
}

#set-logo-top {

}

#mana-container {
    width: 435px;
    margin-top: 10px;
    float: left;
}



.step-text {
    font-size: 18px;
    color: rgb(16, 16, 16);
    text-align: center;
}

#mana-tiles {
    margin: 0 auto;
    margin-top: 10px;
    width: 436px;
}

.mana-basic-button {
    height: 60px;
    width: 82px;
    margin: 5px 2.5px 0 2.5px;
    border-radius: 2px;
    color: black;
    text-align: center;
    font-size: 10px;
    line-height: 50px;
    float: left;
}

#redS {
    color: red;
}

.mana-nbl-button {
    font-size: 10px;
    color: white;
    text-shadow: 1px 1px 5px rgb(0, 0, 0);
    line-height: 10px;
    height: 38px;
    width: 82px;
    margin: 5px 2.5px 0 2.5px;
    border-radius: 2px;
    text-align: center;
    float: left;
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: 50% 20%;
    border: 3px solid black;
    display: inline-block;
}

.mana-ph {
    height: 30px;
    width: 61px;
    margin: 5px 5px 0 0;
    background-color: lightgreen;
    border-radius: 2px;
    color: black;
    text-align: center;
    font-size: 10px;
    line-height: 30px;
    float: left;
}

/* art for basic buttons */

.basic {
    font-size: 22px;
    line-height: 15px;
}

.nonbasic {

}

.plains {
    background-image: url(../images/plains.jpg);
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: 50% 20%;
    border: 3px solid black;
    color: rgb(255, 238, 169);
    text-shadow: 0px 0px 5px rgb(0, 0, 0);
}

.island {
    background-image: url(../images/island.jpg);
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: 50% 20%;
    border: 3px solid black;
    color: rgb(130, 222, 255);
    text-shadow: 0px 0px 5px rgb(0, 0, 0);
}

.swamp {
    background-image: url(../images/swamp.jpg);
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: 50% 20%;
    border: 3px solid black;
    color: rgb(255, 158, 244);
    text-shadow: 0px 0px 5px rgb(0, 0, 0);
}

.mountain {
    background-image: url(../images/mountain.jpg);
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: 50% 20%;
    border: 3px solid black;
    color: rgb(255, 121, 106);
    text-shadow: 0px 0px 5px rgb(0, 0, 0);
}

.forest {
    background-image: url(../images/forest.jpg);
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: 50% 20%;
    border: 3px solid black;
    color: rgb(137, 255, 119);
    text-shadow: 0px 0px 5px rgb(0, 0, 0);
}

/* ---------------- */ 

#button-container {
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
}


.submitButton {
    display: inline-block;
    width: 44%;
    padding: 18px;
    font-size: 18px;
    text-align: center;
    background-color: lightskyblue;
    color: black;
    border-radius: 2px;
    margin: 0 auto;
    margin: 0 2px;
}

#land-container {
    height: 100px;
    width: 440px;
    background-color: darkgrey;
    border-radius: 5px;
    margin: 0 auto;
    text-align: center;
}

#internal-land-container {
    padding-top: 7px;
}

.landRenderedImg {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    border: 1px solid black;
}

#calc-container {
    width: 500px;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
}

#calc-card-pool {
    width: 500px;
    border-radius: 2px;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
}

#bottom-bar {
    width: 500px;
    height: 20px;
    background-color: darkgrey;
    margin: 0 auto;
    margin-top: 20px;
}

#careful {
    margin-top: 10px;
    font-size: 28px;
    text-align: center;
}

.cardPic { 
    width: 160px;
    margin: 0 auto;
    padding: 5px;
    display: inline-block;
    border-radius: 13px;
}