/* Stylesheet for "Play Aroud Me" */

:root {
    --fullWidth: 550px;
}

.clearfix::after { 
    content: "";
    display:block; 
    clear:both; 
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

@font-face {
    font-family: mana;
    src: url(../fonts/manaMAN.ttf);
}

body {
    background-image: url(../images/jace2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: sans-serif;
}

.bottomLine {
    padding: 5px 0px 0px 0px;
    font-size: 11px;
    padding-left: 7px;
    font-style: italic;
    color: #808080;
    font-weight: bold;

}

.buttonLabels {
    color: black;
    padding-left: 10px;
    font-size: 10px;
    font-style: italic;
    padding: 4px;
    position: relative;
    top: 8px;
}

.MULTI {
    opacity: 1;
}

button {
    padding: 0;
    cursor: default;
    border-width: 0px;
    border-image: none;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
}

#topButtonHolder {
    width: 100%;
    position: fixed;
    bottom: 20px;
}

#topButton {
    line-height: 29px;
    width: 50px;
    height: 30px;
    margin: 0 auto;
    display: none;
    bottom: 20px;
    z-index: 99;
    font-size: 14px;
    border: 3px solid #fff;
    outline: none;
    background-color: #000;
    fill-opacity: 0.5;
    color: #fff;
    cursor: pointer;
    border-radius: 25px;
}

/* Main CSS */

header {
    width: 100%;
    height: 54px;
    background-color:  #0e0e0e;
    border-bottom: 0px solid #373737;
    padding: 0 20px;
}

#calculator {
    width: 500px;
    background-color: #373737;
    border-radius: 10px;
    border: 4px solid  #0e0e0e;
    border-bottom: 4px solid  #0e0e0e;
    margin: 0 auto;
    margin-top: 20px;
    padding: 20px;
}

#calculatorName {
    font-size: 18px;
    margin: 0 auto;
    margin-top: 10px;
    width: 436px;
    padding: 0 2px 0 2px;
}

.info {
    float: left;
}

.calcutron {
    float: left;
    color: #ff995a;
    text-shadow: 1px 1px #b34400;
}

.setName {
    float: left;
    margin: 2px 0 0 5px;
}

.logo-hover {
    cursor: pointer;
}

#header-container {
    height: inherit;
    margin: 0 auto;
}

#logo-container {
    height: inherit;
    float: left;
}

.pam-title {
    float: left;
    color: white;
    line-height: 54px;
    margin-left: 20px;
}

.howto {
    cursor: pointer;
    margin-top: 14px;
    float: right;
    margin-right: 20px;
    color: white;
    padding: 3px 6px;
    border: 1px solid white;
    border-radius: 4px;
}

.howto:hover {
    background-color: rgb(63, 63, 63);
}

.GitHub {
    cursor: pointer;
    margin-top: 14px;
    float: right;
    color: white;
    padding: 3px 6px;
    border: 1px solid white;
    border-radius: 4px;
}

.GitHub:hover {
    background-color: rgb(63, 63, 63);
}

#menu-container {
    height: inherit;
    float: right;
    font-size: 14px;
    line-height: 50px;
    color: #fff;
    text-align: right;
}

#main-container {
    width: var(--fullWidth);
    margin: 0 auto;
    margin-top: 30px;
}

#set-title {
    text-align: center;
    font-size: 28px;
}

#top-bar {
    height: 20px;
    width: inherit;
    background-color: #a9a9a9;
    margin-top: 5px;
}

#mana-container {
    width: 435px;
    margin-top: 10px;
    float: left;
}

.step-text {
    font-size: 18px;
    color: #101010;
    text-align: center;
}

#mana-tiles {
    margin: 0 auto;
    margin-top: 10px;
    width: 436px;
}

.mana-basic-button {
    height: 60px;
    width: 82px;
    margin: 5px 2.5px 0 2.5px;
    border-radius: 2px;
    color: #000;
    text-align: center;
    font-size: 10px;
    line-height: 50px;
    float: left;
}

.mana-nbl-button {
    font-size: 10px;
    color: #fff;
    text-shadow: 1px 1px 5px #000;
    line-height: 10px;
    height: 38px;
    width: 82px;
    margin: 5px 2.5px 0 2.5px;
    border-radius: 2px;
    text-align: center;
    float: left;
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: 50% 20%;
    border: 3px solid #000;
}

.basic {
    font-size: 22px;
    line-height: 15px;
}

.plains {
    background-image: url(../images/plains.jpg);
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: 50% 20%;
    border: 3px solid #000;
    color: #ffeea9;
    text-shadow: 0px 0px 5px rgb(0, 0, 0);
}

.island {
    background-image: url(../images/island.jpg);
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: 50% 20%;
    border: 3px solid #000;
    color: #82deff;
    text-shadow: 0px 0px 5px rgb(0, 0, 0);
}

.swamp {
    background-image: url(../images/swamp.jpg);
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: 50% 20%;
    border: 3px solid #000;
    color: #ff9ef4;
    text-shadow: 0px 0px 5px rgb(0, 0, 0);
}

.mountain {
    background-image: url(../images/mountain.jpg);
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: 50% 20%;
    border: 3px solid #000;
    color: #ff796a;
    text-shadow: 0px 0px 5px rgb(0, 0, 0);
}

.forest {
    background-image: url(../images/forest.jpg);
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: 50% 20%;
    border: 3px solid #000;
    color: #89ff77;
    text-shadow: 0px 0px 5px #000;
}

/* ---------------- */ 

#button-container {
    width: 436px;
    margin: 0 auto;
    margin-top: 25px;
    text-align: center;
}

#calc-button {
    cursor: pointer !important;
    float: left;
    width: 256px;
    padding: 14px;
    font-size: 18px;
    font-style: normal;
    text-align: center;
    background-color: #ff995a;
    color: #000;
    border: 3px solid #fe8031;
    border-radius: 2px;
    margin: 0 2.5px 0 2.5px;
}

#reset-button {
    cursor: pointer !important;
    float: left;
    width: 169px;
    padding: 14px;
    font-size: 18px;
    font-style: normal;
    text-align: center;
    background-color: #87cefa;
    color: #000;
    border: 3px solid #51b6f6;
    border-radius: 2px;
    margin: 0 2.5px 0 2.5px;
}



.submitButton {
    display: inline-block;
    width: 44%;
    padding: 18px;
    font-size: 18px;
    text-align: center;
    background-color: #87cefa;
    color: #000;
    border-radius: 2px;
    margin: 0 auto;
    margin: 0 2px;
}

#land-container {
    min-height: 100px;
    width: 440px;
    background-color: #fff;
    border-radius: 5px;
    margin: 0 auto;
    padding-top: 7px;
    text-align: center;
}


.landRenderedImg {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    border-radius: 2px;
    height: 86px;
}

#calc-container {
    width: 500px;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
}

#calc-card-pool {
    width: 500px;
    border-radius: 2px;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
}

#bottom-bar {
    width: 500px;
    height: 20px;
    background-color: #a9a9a9;
    margin: 0 auto;
    margin-top: 20px;
}

#careful {
    margin-top: 10px;
    font-size: 28px;
    text-align: center;
}

.cardPic { 
    width: 160px;
    margin: 0 auto;
    padding: 5px;
    display: inline-block;
    border-radius: 13px;
}

.CLICKER:hover {
    cursor: pointer;
}

@media screen and (max-width: 500px) {
    .pam-title {
        display: none;
    }

    body {
        background-image: url(../images/halftone.png);
        background-size: cover;
        background-repeat: repeat;
        font-family: sans-serif;
    }

    header {
    width: 100%;
    height: 54px;
    background-color:  #0e0e0e;
    border-bottom: 2px solid #1a1a1a;
    padding: 0 20px;
    }

    #calculator {
    width: 100%;
    background-color: #373737;
    border-radius: 0px;
    border: 0px solid  #0e0e0e;
    border-bottom: 4px solid  #0e0e0e;
    margin: 0 auto;
    padding: 20px;
    }

    #calc-card-pool {
    width: 100%;
    border-radius: 2px;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
    }

    .cardPic {
    width: 80%;
    margin: 0 auto;
    padding: 5px;
    display: inline-block;
    border-radius: 6%;
    }

    #calculatorName {
    font-size: 14px;
    margin: 0 auto;
    margin-top: 10px;
    width: 436px;
    }

    #land-container {
    min-height: 80px;
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    margin: 0 auto;
    padding-top: 7px;
    text-align: center;
    }

    .landRenderedImg {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    border-radius: 2px;
    height: 66px;
    }

    #calculatorName {
    font-size: 18px;
    margin: 0 auto;
    margin-top: 10px;
    width: 100%;
    }

    #header-container {
    height: inherit;
    width: 100%;
    margin: 0 auto;
    }

    #mana-tiles {
    margin: 0 auto;
    margin-top: 10px;
    width: 100%;
    }

    .mana-basic-button {
    height: 49px;
    width: 18%;
    margin: 5px 1% 0 1%;
    border-radius: 2px;
    color: #000;
    text-align: center;
    font-size: 8px;
    line-height: 50px;
    float: left;
    }

    .mana-nbl-button {
    font-size: 8px;
    color: #fff;
    text-shadow: 1px 1px 5px #000;
    line-height: 10px;
    height: 38px;
    width: 18%;
    margin: 5px 1% 0 1%;
    border-radius: 2px;
    text-align: center;
    float: left;
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: 50% 20%;
    border: 3px solid #000;
    }

    .basic {
    font-size: 18px;
    line-height: 15px;
    }

    #button-container {
    width: 100%;
    margin: 0 auto;
    margin-top: 25px;
    text-align: center;
    }

    #calc-button {
    cursor: pointer !important;
    float: left;
    width: 66%;
    padding: 14px;
    font-size: 14px;
    font-style: bold;
    text-align: center;
    background-color: #ff995a;
    color: #000;
    border: 3px solid #fe8031;
    border-radius: 2px;
    margin: 0 1% 0 0;
    }

    #reset-button {
    cursor: pointer !important;
    float: left;
    width: 30%;
    padding: 14px;
    font-size: 14px;
    font-style: bold;
    text-align: center;
    background-color: #87cefa;
    color: #000;
    border: 3px solid #51b6f6;
    border-radius: 2px;
    margin: 0 0 0 2%;
    }

    .plains {
        background-image: url(../images/plains.jpg);
        background-repeat: no-repeat;
        background-size: 150%;
        background-position: 50% 20%;
        border: 3px solid #000;
        color: #ffeea9;
        text-shadow: 0px 0px 5px rgb(0, 0, 0);
    }
    
    .island {
        background-image: url(../images/island.jpg);
        background-repeat: no-repeat;
        background-size: 150%;
        background-position: 50% 20%;
        border: 3px solid #000;
        color: #82deff;
        text-shadow: 0px 0px 5px rgb(0, 0, 0);
    }
    
    .swamp {
        background-image: url(../images/swamp.jpg);
        background-repeat: no-repeat;
        background-size: 150%;
        background-position: 50% 20%;
        border: 3px solid #000;
        color: #ff9ef4;
        text-shadow: 0px 0px 5px rgb(0, 0, 0);
    }
    
    .mountain {
        background-image: url(../images/mountain.jpg);
        background-repeat: no-repeat;
        background-size: 150%;
        background-position: 50% 20%;
        border: 3px solid #000;
        color: #ff796a;
        text-shadow: 0px 0px 5px rgb(0, 0, 0);
    }
    
    .forest {
        background-image: url(../images/forest.jpg);
        background-repeat: no-repeat;
        background-size: 150%;
        background-position: 50% 20%;
        border: 3px solid #000;
        color: #89ff77;
        text-shadow: 0px 0px 5px #000;
    }

}