.modal-container {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	visibility: hidden;
	padding: 10px;
}

.modal-display {
	visibility: visible;
}

.modal-anim {
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	top: 0;
	background-color: transparent;
	transition: 0.4s;
}

.modal {
	opacity: 0;
	margin-top: 30px;
	z-index: 999999;
	transition: 0.4s;
	max-width: 500px;
	width: 100%;
}

.modal-top {
	justify-content: space-between;
	width: 100%;
	padding: 25px;
	font-weight: 500;
	background-color: rgb(226, 226, 226);
	border-bottom: rgb(205, 215, 221);
	font-size: 20px;
	color: #252525;
	border-radius: 6px 6px 0 0;
	box-shadow: 0 0 5px rgba(0,0,0,0.15);
}

.modal-bottom {
	width: 100%;
	align-items: center;
	padding: 25px;
	font-size: 14px;
	color: #252525;
	background-color: rgb(241, 241, 241);
	border-radius: 0 0 6px 6px;
	box-shadow: 0 0 5px rgba(0,0,0,0.15);
}

.modal-bottom-flex-start {
	align-items: flex-start;
}

.modal-calculate {
    color: #fff;
    background-color: #4587ff;
    border: none;
    outline: none;
    padding: 2px 4px;
    border-radius: 2px;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .15);
}

.modal-p {
	font-size: 14px;
	line-height: 1.5;
}

.how-to-list li {
	margin-bottom: 10px;
	list-style: disc;
	list-style-position: inside;
}

.how-to-list li:last-of-type {
	margin: 0;
}

.name-tag {
	color: #4587ff
}

.icon-row {
	position: relative;
	margin-top: 20px;
}

.tech-icons {
	margin: 0 10px;
}

.mtop {
	margin-top: 4px;
}

.mtop20 {
	margin-top: 20px;
}

.icon-subtext {
	font-size: 10px;
	color: #888888;
	margin-top: 4px;
}

.about-container {
	width: 100%;
	text-align: center;
}

.tech-button,
.tech-button:active,
.tech-button:focus {
	transition: 0.2s ease;
    cursor: pointer !important;
}

.tech-button:hover {
	transform: translate(0, -2px);
}

.modal-display .modal {
	margin-top: 0;
	opacity: 1;
}

.modal-display .modal-anim {
	background-color: rgba(0,0,0,0.7);
}

.modal-top-x-container,
.modal-top-x-container:active,
.modal-top-x-container:focus {
	position: relative;
    padding: 0 !important;
    background: none !important;
    border: none !important;
    outline: none !important;
    cursor: pointer !important;
    transition: 0.2s ease;
}

.modal-fill {
	width: 30px;
}

.modal-top-x-container:hover {
	transform: translateY(-2px);
}

.modal-x {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    opacity: 1;
    transition: opacity 0.3s ease;
}


/* MEDIA Q */
@media only screen and (max-width: 1600px) {

}

@media only screen and (max-width: 970px) {

}

@media only screen and (max-width: 550px) {
	.modal-bottom,
	.modal-top {
		padding: 20px;
	}
}