.output {
	flex: 1;
	background-repeat: repeat;
    align-items: center;
    justify-content: flex-start;
    align-content: flex-start;
}

.output-get-started {
	font-size: 14px;
	color: #252525;
	padding-top: 12.5px;
}

.sort-container {
	position: sticky;
	top: 0;
	width: 100%;
	padding: 0 20px 12.5px;
	min-height: 55px;
	justify-content: space-between;
	align-items: center;
	background-color: #d6d6d6;
}

.output-title {
	font-size: 14px;
	color: #252525;
	padding-top: 12.5px;
	min-width: 52px;
	max-width: 52px;
}

.button-container {
	display: block;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.sort-button,
.sort-button:active,
.sort-button:focus {
    cursor: pointer !important;
    padding: 8px 14px;
	font-size: 14px;
	margin-left: 20px;
	margin-top: 12.5px;
	color: #fff;
    background-color: #4587ff;
	border: none;
	outline: none;
	border-radius: 3px;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .05);
	transition: 0.2s ease;
}

.sort-button:hover {
	transform: translate(0, -2px);
}

.rendered-payed-for-container {
	width: 100%;
	padding: 10px;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: center;
	align-content: flex-start;
}

.hider {
	display: none;
}

.flex-centered {
	align-items: center;
	justify-content: center;
}

.sort-uparrow-container,
.sort-uparrow-container:focus,
.sort-uparrow-container:active {
	display: none;
	position: relative;
	
	margin-left: 10px;
	margin-top: 12.5px;
	padding: 0;
	background: none !important;
	border: none !important;
	outline: none !important;
	cursor: pointer !important;
	transition: 0.2s ease;
}

.sort-uparrow-container:hover {
	transform: translate(0, -2px);
}

.sort-uparrow {
	width: 30px;
	height: 30px;
    border-radius: 50%;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
	opacity: 1;
	transition: opacity 0.3s ease;
}

.sort-uparrow-opacity-on,
.sort-uparrow-opacity-on:active,
.sort-uparrow-opacity-on:focus {
	display: block;
	opacity: 1;

	-webkit-animation: fadeInFromNone 0.5s ease-out;
    -moz-animation: fadeInFromNone 0.5s ease-out;
    -o-animation: fadeInFromNone 0.5s ease-out;
    animation: fadeInFromNone 0.5s ease-out;
}

@-webkit-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@-moz-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@-o-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

.button-dropdown-mobile {
	display: none;
	position: relative;
	padding: 10px 14px;
	/* min-width: 200px; */
	font-weight: 400;
    background-color: #fff;
	margin-top: 12.5px;
	margin-left: 12.5px;
    border-radius: 3px;
    cursor: pointer;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.sort-list {
	display: block;
    position: absolute;
	visibility: visible;
	font-size: 14px !important;
    right: 0px;
    top: 35px;
    background-color: #fff;
    border-radius: 3px;
    padding-top: 6px;
    padding-bottom: 6px;
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12), 0px -1px 3px 1px rgba(0,0,0,0.03);
    transition: 0.3s;
    z-index: 999;
    opacity: 1;
}

.sort-visibility {
	visibility: hidden;
	opacity: 0;
	top: 41px;
	font-size: 14px !important;
}

.sort-name-mobile {
	font-weight: 400;
}

/* SET ICON BGS */
.M21bg {
	background-image: url("../../Sets/M21bg.jpg");
}

.TXMbg {
	background-image: url("../../Sets/TXMbg.jpg");
}



/* MEDIA Q */
@media only screen and (max-width: 1600px) {
	.sort-button,
	.sort-button:active,
	.sort-button:focus {
		margin-left: 12.5px;
	}
}

@media only screen and (max-width: 970px) {
	.button-container {
		display: none;
	}

	.button-dropdown-mobile {
		display: flex;
	}
}

@media only screen and (max-width: 550px) {

}
