.header-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
    font-family: sans-serif;
    text-align: center;
    width: 100%;
    padding: 15px 20px;
    background-color: #252525;
    color: #fff;
    font-size: 20px;
}

.header-link,
.header-link:focus,
.header-link:active {
	padding: 12px 18px;
    background-color: transparent;
    border-radius: 3px;
	margin-right: 20px;
	font-size: 14px;
	color: #fff;
    background: none;
	border: none;
	outline: none;
	cursor: pointer;
	transition: 0.3s;
}

.header-link:hover {
	background-color: #464646;
}

/* .header-link:after {
	display: block;
	width: 80%;
	margin: 2px auto 0;
	content: '';
	border-bottom: solid 1px #fff;  
	transform: scaleX(0);  
	transition: transform 150ms ease-in-out;
} */

/* .header-link:hover:after { 
	transform: scaleX(1);
} */