.sources-container {
	width: calc(100% - 10px);
    min-height: 111px;
    flex-wrap: wrap;
    background-color: #fff;
    border-radius: 5px;
    margin: 0 auto;
    padding: 7px;
	text-align: center;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.source-list-item {
	margin-left: -26px;
}

.source-list-item:first-child {
	margin-left: 0;
}

.source-list-image {
	height: 95px;
}


/* MEDIA Q */
@media only screen and (max-width: 1600px) {
	.source-list-item {
		margin-left: -31px;
	}
}

@media only screen and (max-width: 970px) {
	.source-list-item {
		margin-left: -26px;
	}
}

@media only screen and (max-width: 550px) {
	.sources-container {
		min-height: 100px;
	}
	
	.source-list-item {
		margin-left: -30px;
	}

	.source-list-image {
		height: 84px;
	}
}

@media only screen and (max-width: 400px) {
	.source-list-item {
		margin-left: -34px;
	}
}

@media only screen and (max-width: 360px) {
	.source-list-item {
		margin-left: -38px;
	}
}