.flex-full {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex-col {
	flex-direction: column;
}

.flex-row {
	flex-direction: row;
}

.flex-jc-sb {
	justify-items: space-between;
}

.flex-ai-sb {
	justify-items: space-between;
}

#root, body, html {
	min-height: 100vh;
}

#root {
	display: flex;
}

body {
	font-family: 'Rubik', sans-serif !important;
}

.screen {
	display: flex;
	flex-direction: column;
	flex: 1;
}

h1 {
	line-height: .9;
}


/* MEDIA Q */
@media only screen and (max-width: 1600px) {

}

@media only screen and (max-width: 970px) {

}

@media only screen and (max-width: 550px) {

}